{% extends "_base.html" %} {% block content %}
<div class="row mt-5">
  <h3 class="mt-5 mb-3">{{_('ลงชื่อเข้าใช้')}}</h3>
  <form
    class="login-form"
    method="POST"
    action="{{ url_for('auth.login_post') }}"
    enctype="multipart/form-data"
  >
    <div class="col-4 mb-3">
      <label for="email" class="mb-2">{{_('ชื่อผู้ใช้')}} </label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="{{_('ชื่อผู้ใช้')}}"
      />
    </div>

    <div class="col-4 mb-3">
      <label for="password" class="mb-2">{{_('รหัสผ่าน')}}</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="{{_('รหัสผ่าน')}}"
      />
    </div>
    <div class="col-4 mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        name="remember-me-check"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">
        {{_('จดจำฉันไว้')}}
      </label>
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="text-danger">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <div class="col-4">
      <button type="submit" class="btn btn-primary mb-3 w-100 login-button">
        {{_('เข้าสู่ระบบ')}}
      </button>
    </div>
  </form>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"
  type="text/javascript"
></script>
<script>
  jQuery.validator.addMethod(
    "alphanumeric",
    function (value, element) {
      return this.optional(element) || /^\w+$/i.test(value);
    },
    "{{_('ห้ามใส่อักขระพิเศษหรือเว้นวรรค')}}"
  );

  jQuery(".login-form").validate({
    debug: false,
    errorClass: "text-danger",
    errorElement: "p",
    rules: {
      username: {
        minlength: 6,
        maxlength: 20,
        required: true,
        alphanumeric: true,
      },
      password: {
        minlength: 8,
        maxlength: 20,
        required: true,
      },
    },
    messages: {
      username: {
        minlength: "{{_('ชื่อผู้ใช้ต้องมี 6-20 ตัวอักษร')}}",
        maxlength: "{{_('ชื่อผู้ใช้ต้องต่ำกว่า 20 ตัวอักษร')}}",
        required: "{{_('กรุณากรอกชื่อผู้ใช้')}}",
      },
      password: {
        minlength: "{{_('รหัสผ่านต้องมี 8-20 ตัวอักษร')}}",
        maxlength: "{{_('รหัสผ่านต้องต่ำกว่า 20 ตัวอักษร')}}",
        required: "{{_('กรุณากรอกรหัสผ่าน')}}",
      },
    },
    highlight: function (element, errorClass) {
      $(element).addClass(errorClass);
    },
    unhighlight: function (element, errorClass) {
      $(element).removeClass(errorClass);
    },
  });

  $(".login-button").click(function () {
    console.log($(".login-form").valid());
  });
</script>
{% endblock %}
