{% extends "_base.html" %} {% block content %}
<form
  action="{{ url_for('prompt_builder.create') }}"
  method="POST"
  enctype="multipart/form-data"
  class="create-prompt-builder-form"
>
  {{ form.csrf_token }} {{ form.builder_name.label(class="mb-3") }} {{
  form.builder_name(class="form-control form-control-lg mb-5") }}
  <span class="error">
    {% if form.builder_name.errors %} {% for error in form.builder_name.errors
    %} {{ error }} {% endfor %} {% endif %}
  </span>
  {{ form.submit(class="submit btn btn-outline-primary") }}
</form>
<script>
  document
    .querySelector(".create-prompt-builder-form")
    .addEventListener("submit", function (event) {
      if (this.dataset.submitted) {
        event.preventDefault();
        return false;
      }
      this.dataset.submitted = true;
    });
</script>
{% endblock %}
