{% extends "_base.html" %} {% block content %}
<style media="screen">
  nav {
    position: relative;
    width: 100%;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    /* Sub Menu */
  }
  nav ul li a {
    display: block;
    background: #ebebeb;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  nav ul li a:hover {
    background: #f8f8f8;
    color: #515151;
  }
  nav ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float: right;
  }
  nav ul ul {
    background-color: #ebebeb;
  }
  nav ul li ul li a {
    background: #f8f8f8;
    border-left: 4px solid transparent;
    padding: 10px 20px;
  }
  nav ul li ul li a:hover {
    background: #ebebeb;
    border-left: 4px solid #3498db;
  }
  #prompt-image {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .prompt-eng-name {
    text-transform: capitalize;
  }
  .prompt-btn {
    width: 100%;
    margin-bottom: 0.33em;
  }

  #used {
    margin: 0;
  }
  .prompt-category-item {
    text-transform: capitalize;
  }
  .prompt-sub-category-item {
    text-transform: capitalize;
  }
  .prompt-set-category-title {
    text-transform: capitalize;
  }
  .img-enlargable {
    filter: brightness(107.33%);
  }
  button[id^="prompt-detail-item-"] {
    text-transform: capitalize;
  }
  a.disabled {
    color: gray;
    pointer-events: none;
  }
  textarea#prompt-input {
    min-height: 100px;
    overflow-y: scroll;
  }
  .remove-scroll::-webkit-scrollbar {
    display: none;
  }
  .prompt-input-button {
    width: 100%;
    height: 80px;
  }
</style>
<h1 class="mx-auto mb-4">Prompt Builder Demo</h1>
<div class="row mb-5">
  <div class="col-12 col-lg-8">
    <textarea
      id="prompt-input"
      class="form-control remove-scroll mb-3"
      oninput="auto_grow(this)"
      placeholder="กดปุ่ม +ADD เพื่อใส่ prompt ที่นี่"
    ></textarea>
    <script type="text/javascript">
      function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = element.scrollHeight + "px";
      }
    </script>
  </div>
  <div class="col-6 col-lg-2">
    <button
      id="copy-negative-prompt-button-addon"
      class="btn btn-danger prompt-input-button"
      type="button"
      onclick="clearPromptInput('prompt-input')"
    >
      CLEAR
    </button>
  </div>
  <div class="col-6 col-lg-2">
    <button
      id="copy-prompt-button-addon"
      class="btn btn-outline-primary prompt-input-button"
      type="button"
      onclick="copyPromptInput('prompt-input')"
    >
      COPY
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-2 mb-4">
    <nav class="animated bounceInDown">
      <ul>
        {%for prompt_category in prompt_categories%}
        <li class="sub-menu">
          <a href="#{{prompt_category.eng_name}}" class="prompt-category-item"
            >{{prompt_category.eng_name}}
            ({{prompt_category.sub_categories|length}})</a
          >
          <ul>
            {%for sub_category in prompt_category.sub_categories%}
            <li>
              <a
                id="sub-category-item-{{sub_category.id}}"
                href="#{{sub_category.eng_name}}"
                class="prompt-sub-category-item"
                onclick="getPromptDetails('{{prompt_category.id}}', '{{sub_category.id}}', '{{prompt_category.eng_name}}', '{{sub_category.eng_name}}')"
                >{{sub_category.eng_name}} ({{sub_category.length}})</a
              >
            </li>
            {%endfor%}
          </ul>
        </li>
        {%endfor%}
      </ul>
    </nav>
  </div>

  <div class="col-12 col-lg-10">
    <ul id="prompt-detail-ul" class="nav nav-pills nav-justified mb-3 row"></ul>
    <div id="prompt-gallery" class="row"></div>
  </div>
  <div class="col-12 mt-5 mb-5">
    <h2 class="mb-3">Prompt set</h2>
    <div id="prompt-set" class="row">
      {% for n in range(3) %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-3" aria-hidden="true">
          <div class="row g-0">
            <div class="col-12">
              <div class="card-body">
                <h5 class="card-title placeholder-glow">
                  <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                  <span class="placeholder col-7"></span>
                  <span class="placeholder col-4"></span>
                  <span class="placeholder col-4"></span>
                  <span class="placeholder col-6"></span>
                  <span class="placeholder col-8"></span>
                </p>
                <a
                  href="#"
                  tabindex="-1"
                  class="btn btn-primary disabled placeholder col-6"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- START: copy prompt input script -->
<script type="text/javascript">
  function copyPromptInput(prompt_input_id) {
    let prompt_input = document.getElementById(prompt_input_id);
    navigator.clipboard.writeText(prompt_input.value);
  }

  function clearPromptInput(prompt_input_id) {
    let prompt_input = document.getElementById(prompt_input_id);
    prompt_input.value = "";
    prompt_input.style.height = "100px";
  }
</script>
<!-- END:  copy prompt input script-->

<!-- START: prompt detail category template -->
<template id="prompt-detail-item-template">
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <li class="nav-item">
      <button id="prompt-detail-item" class="nav-link"></button>
    </li>
  </div>
</template>
<!-- END: prompt gallery item template -->

<!-- START: prompt gallery item template -->
<template id="prompt-gallery-item-template">
  <div class="col-6 col-lg-3 mb-3">
    <img data-enlargable id="prompt-image" src="" alt="" />

    <div class="row">
      <div class="col-12 col-lg-8 mb-3">
        <h5 id="prompt-eng-name" class="prompt-eng-name"></h5>
        <p id="prompt-thai-name"></p>

        <i class="bi bi-front"></i>
        <span id="copies"></span>
      </div>
      <div class="col-12 col-lg-4">
        <button
          id="add-prompt-btn"
          type="button"
          class="btn btn-light prompt-btn"
        >
          +ADD
        </button>
        <button
          id="copy-prompt-btn"
          type="button"
          class="btn btn-light prompt-btn"
        >
          COPY
        </button>
      </div>
    </div>
  </div>
</template>
<!-- END: prompt gallery item template -->

<!-- START: vertical dropdown menu script -->
<script type="text/javascript">
  $(".sub-menu ul").hide();
  $(".sub-menu a").click(function () {
    $(this).parent(".sub-menu").children("ul").slideToggle("100");
    $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
  });

  var prompt_detail_ul = document.querySelector("#prompt-detail-ul");
  var prompt_gallery = document.querySelector("#prompt-gallery");
  var prompt_gallery_item_template = document.querySelector(
    "#prompt-gallery-item-template"
  );
  var prompt_detail_item_template = document.querySelector(
    "#prompt-detail-item-template"
  );
  var category,
    sub_category = "";

  function getPromptDetails(
    category_id,
    sub_category_id,
    category_eng_name,
    sub_category_eng_name
  ) {
    window.category = category_eng_name;
    window.sub_category = sub_category_eng_name;
    fetch(`/th/get-prompt-details/${sub_category_id}`, {
      method: "GET",
    }).then((res) => {
      res.json().then((data) => {
        removePromptDetailNav();
        removePromptGallery(sub_category_id);
        createDetailCategories(data["prompt_detail_categories"]);
        enableSubCategoryButton();
        disableSubCategoryButton(sub_category_id);
      });
    });
  }

  function removePromptDetailNav() {
    $(`#prompt-detail-ul`).html("");
  }

  function removePromptGallery() {
    $(`#prompt-gallery`).html("");
  }

  function disableSubCategoryButton(sub_category_id) {
    $(`#sub-category-item-${sub_category_id}`).addClass("disabled");
  }

  function enableSubCategoryButton() {
    $(`[id^="sub-category-item-"]`).removeClass("disabled");
  }

  function copyPrompt(prompt_id) {
    fetch(`/th/copy-prompt/${prompt_id}`, { method: "PUT" }).then(() => {
      let prompt_eng_name = document.getElementById(`prompt-${prompt_id}`);
      navigator.clipboard.writeText(prompt_eng_name.innerHTML);
    });
  }

  function addPrompt(prompt_id) {
    fetch(`/th/copy-prompt/${prompt_id}`, { method: "PUT" }).then(() => {
      let prompt_input = document.getElementById(`prompt-input`);
      let prompt_eng_name = document.getElementById(`prompt-${prompt_id}`);
      if (prompt_input.value != "") {
        prompt_input.value += "," + prompt_eng_name.innerHTML;
      } else {
        prompt_input.value += prompt_eng_name.innerHTML;
      }
    });
  }

  function addNegativePrompt(prompt_id) {
    fetch(`/th/copy-prompt/${prompt_id}`, { method: "PUT" }).then(() => {
      let prompt_input = document.getElementById(`negative-prompt-input`);
      let prompt_eng_name = document.getElementById(`prompt-${prompt_id}`);
      if (prompt_input.value != "") {
        prompt_input.value += "," + prompt_eng_name.innerHTML;
      } else {
        prompt_input.value += prompt_eng_name.innerHTML;
      }
    });
  }

  function createPromptGallery(prompts) {
    prompt_gallery.innerHTML = "";
    for (var i = 0; i < prompts.length; i++) {
      let template_clone = prompt_gallery_item_template.content.cloneNode(true);
      let image_name = convertPromptNameToImageName(prompts[i]["eng_name"]);
      window.detail = window.detail.replace(/ /g, "-");
      window.sub_category = window.sub_category.replace(/ /g, "-");
      window.category = window.category.replace(/ /g, "-");

      let id = prompts[i]["id"];

      template_clone.querySelector("#prompt-image").src = `
          /static/prompts/${window.category}/${window.sub_category}/${window.detail}/${image_name}
  `;
      template_clone.querySelector(
        "#prompt-image"
      ).alt = `${prompts[i]["eng_name"]}`;
      template_clone.querySelector(
        "#prompt-thai-name"
      ).innerHTML = `${prompts[i]["thai_name"]}`;
      template_clone.querySelector(
        "#prompt-eng-name"
      ).innerHTML = `${prompts[i]["eng_name"]}`;
      template_clone.querySelector("#prompt-eng-name").id = `prompt-${id}`;
      // template_clone.querySelector("#copy-prompt-btn").onclick = () =>
      //   copyPrompt(id);
      template_clone.querySelector("#copy-prompt-btn").onclick = () =>
        copyPrompt(id);
      template_clone.querySelector("#add-prompt-btn").onclick = () =>
        addPrompt(id);
      template_clone.querySelector(
        "#copies"
      ).innerHTML = `${prompts[i]["copies"]}`;
      template_clone.querySelector("#copies").id = `copies-${id}`;
      prompt_gallery.insertBefore(
        template_clone.children[0],
        prompt_gallery.children[0]
      );
    }
  }

  function getPrompts(prompt_detail_category_id) {
    fetch(`/th/get-prompts/${prompt_detail_category_id}`, {
      method: "GET",
    }).then((res) => {
      res.json().then((data) => {
        window.detail = data["eng_name"];
        createPromptGallery(data["prompts"]);
        activePromptDetailNav(data["id"]);
        setImageEnlargable();
      });
    });
  }

  function createDetailCategories(prompt_detail_categories) {
    prompt_detail_ul.innerHTML = "";
    prompt_detail_categories = prompt_detail_categories.sort((a, b) => {
      if (a.length < b.length) {
        return -1;
      }
    });

    for (var i = 0; i < prompt_detail_categories.length; i++) {
      let template_clone = prompt_detail_item_template.content.cloneNode(true);
      let id = prompt_detail_categories[i]["id"];

      template_clone.querySelector("#prompt-detail-item").innerHTML = `
      ${prompt_detail_categories[i]["eng_name"]} (${prompt_detail_categories[i]["length"]})`;
      template_clone.querySelector("#prompt-detail-item").onclick = () =>
        getPrompts(id);
      template_clone.querySelector(
        "#prompt-detail-item"
      ).id = `prompt-detail-item-${prompt_detail_categories[i]["id"]}`;
      prompt_detail_ul.insertBefore(
        template_clone.children[0],
        prompt_detail_ul.children[0]
      );
    }
  }

  function activePromptDetailNav(prompt_detail_id) {
    $(`[id^="prompt-detail-item-"]`).removeClass("active disabled");
    $(`#prompt-detail-item-${prompt_detail_id}`).addClass("active disabled");
  }

  function convertPromptNameToImageName(prompt_name) {
    image_name = prompt_name.replace(/ /g, "-");
    image_name += ".png";
    return image_name;
  }
</script>
<!-- END: vertical dropdown menu script -->

<!-- START: enlargable image script -->
<script type="text/javascript">
  function setImageEnlargable() {
    $("img[data-enlargable]")
      .addClass("img-enlargable")
      .click(function () {
        var src = $(this).attr("src");
        $("<div>")
          .css({
            background: "RGBA(0,0,0,.5) url(" + src + ") no-repeat center",
            backgroundSize: "contain",
            width: "100%",
            height: "100%",
            position: "fixed",
            zIndex: "10000",
            top: "0",
            left: "0",
            cursor: "zoom-out",
          })
          .click(function () {
            $(this).remove();
          })
          .appendTo("body");
      });
  }
</script>
<!-- END: enlargable image script -->

<!-- START: prompt detail category template -->
<template id="prompt-set-item-template">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-3" aria-hidden="true">
      <div class="row g-0">
        <!-- <div class="col-4">
          <img src="..." class="card-img-top" alt="..." />
        </div> -->
        <div class="col-12">
          <div class="card-body">
            <h5 id="prompt-set-title" class="card-title"></h5>
            <p id="prompt-set-prompts" class="card-text"></p>
            <div id="prompt-category-badges"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <button
                  id="add-prompt-set-button"
                  type="button"
                  class="btn btn-secondary prompt-btn"
                >
                  +ADD
                </button>
              </div>
              <div class="col-6">
                <button
                  id="copy-prompt-set-button"
                  type="button"
                  class="btn btn-secondary prompt-btn"
                >
                  COPY
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-- END: prompt gallery item template -->
<!-- START: prompt set script -->
<script type="text/javascript">
  var prompt_set = document.querySelector("#prompt-set");
  var prompt_set_item_template = document.querySelector(
    "#prompt-set-item-template"
  );

  function getPromptSets() {
    fetch(`/th/get-prompt-sets`, {
      method: "GET",
    }).then((res) => {
      res.json().then((data) => {
        removePromptSet(prompt_set);
        createPromptSet(data);
      });
    });
  }

  setTimeout(getPromptSets, 800);

  function removePromptSet(prompt_set) {
    prompt_set.innerHTML = "";
  }

  function addPromptSet(prompt_set_id) {
    // fetch(`/th/copy-prompt/${prompt_id}`, { method: "PUT" }).then(() => {
    let prompt_input = document.getElementById(`prompt-input`);
    let prompts = document.getElementById(`prompt-set-${prompt_set_id}`);
    if (prompt_input.value != "") {
      prompt_input.value += "," + prompts.innerHTML;
    } else {
      prompt_input.value += prompts.innerHTML;
    }
    auto_grow(prompt_input);
    // });
  }

  function copyPromptSet(prompt_set_id) {
    // fetch(`/th/copy-prompt/${prompt_id}`, { method: "PUT" }).then(() => {
    let prompts = document.getElementById(`prompt-set-${prompt_set_id}`);
    navigator.clipboard.writeText(prompts.innerHTML);
    // });
  }

  function createPromptSet(prompt_sets) {
    for (var i = 0; i < prompt_sets.length; i++) {
      let template_clone = prompt_set_item_template.content.cloneNode(true);
      let prompts = "";
      let prompt_set_id = prompt_sets[i]["id"];

      template_clone.querySelector(
        "#prompt-set-title"
      ).innerHTML = `${prompt_sets[i]["title"]}`;

      for (var j = 0; j < prompt_sets[i]["prompts"].length; j++) {
        if (j == 0) {
          prompts += `${prompt_sets[i]["prompts"][j]["eng_name"]}`;
        } else {
          prompts += `, ${prompt_sets[i]["prompts"][j]["eng_name"]}`;
        }
      }
      template_clone.querySelector(
        "#prompt-set-prompts"
      ).innerHTML = `${prompts}`;
      template_clone.querySelector(
        "#prompt-set-prompts"
      ).id = `prompt-set-${prompt_set_id}`;
      template_clone.querySelector("#add-prompt-set-button").onclick = () =>
        addPromptSet(prompt_set_id);
      template_clone.querySelector("#copy-prompt-set-button").onclick = () =>
        copyPromptSet(prompt_set_id);
      let prompt_category_badges = "";
      for (var j = 0; j < prompt_sets[i]["prompt_categories"].length; j++) {
        if (
          prompt_sets[i]["prompt_categories"][j]["eng_name"] ==
          "negative prompt"
        ) {
          prompt_category_badges += `<span class="badge bg-danger me-2 text-capitalize">${prompt_sets[i]["prompt_categories"][j]["eng_name"]}</span>`;
        } else {
          prompt_category_badges += `<span class="badge bg-secondary me-2 text-capitalize">${prompt_sets[i]["prompt_categories"][j]["eng_name"]}</span>`;
        }
      }
      template_clone.querySelector(
        "#prompt-category-badges"
      ).innerHTML = `${prompt_category_badges}`;
      prompt_set.insertBefore(
        template_clone.children[0],
        prompt_set.children[0]
      );
    }
  }
</script>
<!-- END: prompt set script -->

{% endblock %}
