{% extends "_base.html" %} {% block content %}

<div class="row mb-3">
  <div class="my-3 text-danger">
    <span id="error-message" class=""></span>
  </div>
  <div class="col-10">
    <h2 class="mb-4">
      Add comment
    </h2>
  </div>

  <div class="col-2">
    <button
      id="submit-comment-button"
      type="button"
      class="btn btn-outline-primary w-100"
    >
      Comment
    </button>
  </div>
</div>

<textarea
  class="form-control"
  id="comment-textarea"
  rows="3"
  placeholder="ต่ำกว่า 150 ตัวอักษร (Optional)"
  maxlength="150"
></textarea>

{% include 'dropzone_upload/dropzone.html' %} {% include
'dropzone_upload/prompt-item-template.html' %}

<script src="{{ url_for('static', filename='features/message/index.js') }}"></script>
<script src="{{ url_for('static', filename='features/dropzone_upload/index.js') }}"></script>
<script src="{{ url_for('static', filename='features/comment/create.js') }}"></script>

<script type="text/javascript">
  document
    .getElementById("submit-comment-button")
    .addEventListener("click", () => {
      submitComment("{{item_type}}", "{{item_slug}}");
    });
</script>

{%endblock%}
