<style media="screen">
  #toggle-option.dropdown-toggle::after {
    display: none;
  }
</style>

<template id="comment-template">
  <div id="comment" class="col-3 mb-3">
    <div class="row border">
      <div class="col-3 my-3">
        <a href="#" class="text-decoration-none text-dark profile-link">
          <img id="profile-image" src="" class="rounded-circle w-100" />
        </a>
      </div>

      <div class="col-7 my-3">
        <a href="#" class="text-decoration-none text-dark profile-link">
          <h6 id="profile-name" class="mt-0"></h6>
          <small id="created-date"></small>
        </a>
      </div>

      <div id="options" class="col-2 my-3 text-center">
        <div role="button" class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle dropdown-toggle-no-caret text-dark bg-white border-0"
            type="button"
            id="toggle-option"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul
            id="option-dropdown-list"
            class="dropdown-menu"
            aria-labelledby="toggle-option"
          ></ul>
        </div>
      </div>

      <p id="comment-text"></p>
      <div class="swiper"></div>

      <div id="like-button" class="col-3 my-3 text-center" role="button">
        <i class="bi bi-heart me-2"></i> <span id="comment-likes"></span>
      </div>
    </div>
  </div>
</template>
