<h1 class="display-3 mb-5">
  {{_('Experience')}}
</h1>

<div class="section padding-bottom-big over-hide">
  <div class="row">
    <div
      class="col-12 display-6 text-secondary mb-3"
      style="font-size: 1.8rem; line-height: 1.7em; letter-spacing: 0.05em;"
    >
      Born in

      <a href="#" class="cursor-link-blog-post-1">
        <div class="blog-post-box">
          <span class="h5">Chonburi, Bangkok 1996</span>
        </div>
      </a>
      , I found myself hooked on design and programming when my brother show me
      his web at the age of 13 in
      <a href="#" class="cursor-link-blog-post-2">
        <div class="blog-post-box">
          <span class="h5">Assumption College Sriracha</span>
        </div>
      </a>
      . I started as a
      <a href="#" class="cursor-link-blog-post-3">
        <div class="blog-post-box">
          <span class="h5">Pirated game publisher</span>
        </div>
      </a>
      and figured out my passion soon enough. From my passion, it's make me
      decided to studied in
      <a href="#" class="cursor-link-blog-post-4">
        <div class="blog-post-box">
          <span class="h5">Mahidol University</span>
        </div>
      </a>
      . In no time, I was working as a Internship and Part-time at
      <a href="#" class="cursor-link-blog-post-5">
        <div class="blog-post-box">
          <span class="h5">Course Square</span>
        </div>
      </a>
      . After I graduated in Bachelors' degree, I got hire from
      <a href="#" class="cursor-link-blog-post-6">
        <div class="blog-post-box">
          <span class="h5">Kingsford Company</span>
        </div>
      </a>
      as IT Manager where I worked many projects that related to Crypto. them
      proud at <span class="fw-bold text-white">Course Square</span>. Having
      spent almost 2 years at digital agencies, I decided to tackle bigger
      issues,
    </div>
  </div>
</div>
