{% extends "common/_base.html" %} {% include "common/cursor.html" %} {% block
content %}
<div class="ms-5" style="margin-top: 30em; margin-bottom: 30rem;">
  {% include "main/aboutme.html" %}
</div>

<div class="container">
  {% include "main/experience.html" %}
  <div class="p-5">
    {% include "main/skill.html" %}
  </div>

  <div class="m-5" style="margin-top: 10rem;">
    {% include "main/system-architecture.html" %}
  </div>
</div>

{% include "main/work.html" %} {% include "main/want-to-up.html" %} {%endblock%}
