<style media="screen">
  img.sa-icon {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
  }

  img.sa-icon:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
</style>

<h2 class="text-white mb-5 text-center display-6">This website create from:</h2>

<div class="row">
  {% for icon in system_architecture_icons %}
  <div class="col">
    <img src="/static/data/main/{{icon}}" class="w-100 sa-icon" />
  </div>
  {% endfor %}
</div>
