<style>
  .want-to-up-btn {
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #a3a3a3;
    font-size: 4vw;
    opacity: 0.2;
    transition: opacity 1s;
    transition-timing-function: ease-out;
    animation: glow 0.6s ease-in-out infinite alternate;
  }

  .want-to-up-btn:hover {
    opacity: 1;
    color: #ffffff;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #787777, 0 0 20px #787777, 0 0 30px #4a4e5c;
    }

    to {
      text-shadow: 0 0 20px #787777, 0 0 30px #565b70, 0 0 40px #565b70,
        0 0 50px #565b70, 0 0 70px #ffffff;
    }
  }
</style>
<div class="section padding-top-bottom over-hide background-dark">
  <div class="container">
    <div class="row">
      <div
        class="col-12 text-center"
        data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s"
      >
        <a href="#" class="want-to-up-btn cursor-link">want to go up?</a>
      </div>
    </div>
  </div>
</div>
<style media="screen"></style>
