
<style>
  .blog-nav {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #565b70;
    font-size: 4vw;
    opacity: 0.4;
    transition: opacity 0.2s;
    transition-timing-function: ease-out;
  }
  .blog-nav:hover {
    opacity: 0.7;
    color: #565b70;
  }
</style>
<div class="section padding-top-bottom over-hide background-dark">
  <div class="container">
    <div class="row">
      <div
        class="col-12 text-center"
        data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s"
      >
        <a href="#" class="blog-nav cursor-link">want to up?</a>
      </div>
    </div>
  </div>
</div>
