<div class="section padding-top-big padding-bottom over-hide">
  <div class="container">
    <div class="row">
      <div class="col-12 section-title-wrap text-center parallax-fade-top">
        <p class="primary-color">my</p>
        <h1>work</h1>
      </div>
    </div>
  </div>
</div>

<style media="screen">
  .blog-post-box {
    position: relative;
    display: inline-block;
  }
  .blog-post-box span {
    position: relative;
    text-transform: none;
    z-index: 3;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .blog-post-box:hover span {
  }

  .cursor.cursor-dot.active-blog-post-1,
  .cursor.cursor-dot.active-blog-post-2,
  .cursor.cursor-dot.active-blog-post-3,
  .cursor.cursor-dot.active-blog-post-4,
  .cursor.cursor-dot.active-blog-post-5,
  .cursor.cursor-dot.active-blog-post-6,
  .cursor.cursor-dot.active-blog-post-7 {
    opacity: 0;
  }
  .cursor-shadow.active-blog-post-1,
  .cursor-shadow.active-blog-post-2,
  .cursor-shadow.active-blog-post-3,
  .cursor-shadow.active-blog-post-4,
  .cursor-shadow.active-blog-post-5,
  .cursor-shadow.active-blog-post-6,
  .cursor-shadow.active-blog-post-7 {
    --size: 160px;
    border-color: rgba(255, 255, 255, 0);
    border-width: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 1;
  }
  .cursor-shadow.active-blog-post-1 {
    background-image: url("http://ivang-design.com/alke/img/blog/1.jpg");
  }
  .cursor-shadow.active-blog-post-2 {
    background-image: url("http://ivang-design.com/alke/img/blog/2.jpg");
  }
  .cursor-shadow.active-blog-post-3 {
    background-image: url("http://ivang-design.com/alke/img/blog/3.jpg");
  }
  .cursor-shadow.active-blog-post-4 {
    background-image: url("http://ivang-design.com/alke/img/blog/4.jpg");
  }
  .cursor-shadow.active-blog-post-5 {
    background-image: url("http://ivang-design.com/alke/img/blog/5.jpg");
  }
  .cursor-shadow.active-blog-post-6 {
    background-image: url("http://ivang-design.com/alke/img/blog/6.jpg");
  }
  .cursor-shadow.active-blog-post-7 {
    background-image: url("http://ivang-design.com/alke/img/blog/7.jpg");
  }

  @media (max-width: 991px) {
    .h5 {
      font-size: 1.2rem;
    }
    .section-title-wrap h1 {
      font-size: 4rem;
    }
    .blog-nav {
      font-size: 7vw;
    }
  }
</style>

<script type="text/javascript">
  $(window).mousemove(function (e) {
    $(".cursor").css({
      left: e.pageX,
      top: e.pageY,
    });
  });
  $(".cursor-link")
    .on("mouseenter", function () {
      $(".cursor").addClass("active");
    })
    .on("mouseleave", function () {
      $(".cursor").removeClass("active");
    });
  for (let i = 1; i <= 7; i++) {
    const linkClass = `.cursor-link-blog-post-${i}`;
    const cursorClass = `active-blog-post-${i}`;

    $(linkClass)
      .on("mouseenter", function () {
        $(".cursor").addClass(cursorClass);
      })
      .on("mouseleave", function () {
        $(".cursor").removeClass(cursorClass);
      });
  }
</script>
