<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1 class="display-4">Skill-Set</h1>

<ul class="nav nav-underline mb-3">
  {% for item in skill_data %}
  <li class="nav-item" role="presentation">
    <button
      class="nav-link {% if loop.index == 1 %}active text-dark{%else%} text-secondary{% endif %}"
      id="{{ loop.index }}-skillset-tab"
      data-bs-toggle="tab"
      data-bs-target="#{{ loop.index }}-skillset-tab-pane"
      type="button"
      role="tab"
      aria-controls="{{ loop.index }}-skillset-tab-pane"
    >
      {{ item.title }}
    </button>
  </li>
  {% endfor %}
</ul>

<div class="row">
  {% for item in skill_data %}
  <div class="col-3 pe-2 mb-3">
    <div class="border border-3 border-dark p-3">
      {{ item.title }}
    </div>
  </div>
  {% endfor %}
</div>

<div id="skill-section"></div>

<template id="skill-item-template">
  <div class="col-3 pe-2 mb-3">
    <div id="skill-title" class="border border-3 border-dark p-3"></div>
  </div>
</template>

<script>
  let skill_item_template = document.querySelector("#skill-item-template");
  let skill_section = document.querySelector("#skill-section");

  const buttons = document.querySelectorAll(".nav-link");

  let currentTabIndex = 1;

  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      buttons[currentTabIndex - 1].classList.remove("active");
      buttons[currentTabIndex - 1].classList.remove("text-dark");

      button.classList.add("active");
      button.classList.add("text-dark");

      currentTabIndex = index + 1;

      fetch(`/en/get_chart_data/${currentTabIndex}`)
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
        })
        .catch((error) => {
          console.error("Error fetching data:", error);
        });
    });
  });

  function addSkillItem(skill_item_json) {
    let skill_item_template_clone = skill_item_template.content.cloneNode(true);
  }
</script>
