<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1 class="display-4">Skill-Set</h1>

<ul class="nav nav-underline mb-3">
  {% for item in skill_data %}
  <li class="nav-item" role="presentation">
    <button
      class="nav-link text-secondary"
      id="{{ loop.index }}-skillset-tab"
      data-bs-toggle="tab"
      data-bs-target="#{{ loop.index }}-skillset-tab-pane"
      type="button"
      role="tab"
      aria-controls="{{ loop.index }}-skillset-tab-pane"
    >
      {{ item.title }}
    </button>
  </li>
  {% endfor %}
</ul>

<div id="skill-section" class="row"></div>

<template id="skill-item-template">
  <div class="col-3 pe-2 mb-3">
    <div class="border border-3 border-dark p-3">
      <div class="row">
        <div class="col-5">
          <img id="skill-image" src="/static/data/skill/" class="w-50" />
        </div>
        <div class="col-7">
          <h3 id="skill-title"></h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  let skill_item_template = document.querySelector("#skill-item-template");
  let skill_section = document.querySelector("#skill-section");

  const buttons = document.querySelectorAll(".nav-link");

  let currentTabIndex = 1;

  initialSkillSection();

  function initialSkillSection() {
    fetchSkillData(2);
    buttons[1].classList.add("active");
    buttons[1].classList.add("text-dark");
  }

  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      buttons[currentTabIndex - 1].classList.remove("active");
      buttons[currentTabIndex - 1].classList.remove("text-dark");

      button.classList.add("active");
      button.classList.add("text-dark");

      currentTabIndex = index + 1;

      fetchSkillData(currentTabIndex);
    });
  });

  function fetchSkillData(currentTabIndex) {
    fetch(`/en/get_skill_data/${currentTabIndex}`)
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        removeSkillSectionContent();
        addSkillItems(data);
      })
      .catch((error) => {
        console.error("Error fetching data:", error);
      });
  }

  function removeSkillSectionContent() {
    skill_section.innerHTML = "";
    console.log(skill_section.innerHTML);
  }

  function addSkillItems(skill_json) {
    for (let i = 0; i < skill_json.labels.length; i++) {
      createSkillItem(skill_json.labels[i], skill_json.images[i]);
    }
  }

  function createSkillItem(label, image) {
    let skill_item_template_clone = skill_item_template.content.cloneNode(true);

    skill_item_template_clone.querySelector(
      "#skill-title"
    ).innerHTML = `${label}`;

    skill_item_template_clone.querySelector("#skill-image").src += `${image}`;

    skill_section.appendChild(skill_item_template_clone.children[0]);
  }
</script>
