{% extends "ai_hub/_base.html" %} {% block content %}

<div class="row mb-3">
  <div class="my-3 text-danger">
    <span id="error-message" class=""></span>
  </div>
  <div class="col-10">
    <h2>แก้ไข Prompt ของคุณ</h2>
  </div>

  <div class="col-2">
    <button
      id="submit-edit-button"
      type="button"
      class="btn btn-outline-primary w-100"
    >
      บันทึกการแก้ไข
    </button>
  </div>
</div>
<div class="mb-5">
  <label for="topic-input" class="form-label">
    Topic <span class="text-danger">*</span>
  </label>
  <input
    id="topic-input"
    class="form-control mb-3"
    type="text"
    maxlength="32"
  />
  <label for="description-textarea" class="form-label">รายละเอียด</label>
  <textarea
    class="form-control mb-3"
    id="description-textarea"
    rows="3"
    maxlength="188"
  ></textarea>

  <label for="model-input" class="form-label">
    Model ที่ใช้
  </label>
  <input
    id="model-input"
    class="form-control"
    type="text"
    aria-label=".form-controlg example"
    maxlength="100"
  />
</div>

<!-- Dropzone -->
<style media="screen">
  .dropzone {
    border: 2px dashed gray;
    padding: 20px;
    text-align: center;
    margin: 20px;
  }
  .prompt-container {
    flex-wrap: wrap;
    margin-top: 20px;
  }
</style>
<div class="dropzone">
  <p>Drag and drop images here or click to select files</p>
</div>
<div class="prompt-container"></div>
<template id="prompt-item-dropzone-template">
  <div class="row mb-3">
    <div class="col-2">
      <img id="prompt-image" class="w-100 mb-3" src="" alt="" />

      <div class="d-flex justify-content-center align-items-center">
        <button
          id="delete-button"
          type="button"
          class="btn btn-danger delete-button"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="col-4">
      <label for="promptFormControlInput" class="form-label">Prompt:</label>
      <textarea
        id="prompt-input"
        class="form-control remove-scroll mb-2"
        aria-label="prompt input"
      ></textarea>

      <label for="negativePromptFormControlInput" class="form-label"
        >Negative prompt:</label
      >
      <textarea
        id="negative-prompt-input"
        class="form-control remove-scroll mb-3"
        aria-label="negative prompt input"
      ></textarea>
    </div>
    <div class="col-3">
      <label for="samplerFormControlInput" class="form-label">Sampler:</label>
      <input
        id="sampler-input"
        class="form-control form-control-sm"
        type="text"
        aria-label="sampler input"
      />
      <label for="seedFormControlInput" class="form-label">Seed:</label>
      <input
        id="seed-input"
        class="form-control form-control-sm"
        type="text"
        aria-label="seed input"
      />
      <label for="CFGScaleFormControlInput" class="form-label"
        >CFG Scale:</label
      >
      <input
        id="cfg-scale-input"
        class="form-control form-control-sm"
        type="text"
        aria-label="cfg scale input"
      />
    </div>

    <div class="col-3">
      <label for="stepsFormControlInput" class="form-label">Steps:</label>
      <input
        id="steps-input"
        class="form-control form-control-sm"
        type="text"
        aria-label="steps input"
      />
      <label for="sizeFormControlInput" class="form-label">Size:</label>
      <input
        id="size-input"
        class="form-control form-control-sm"
        type="text"
        aria-label="size input"
      />

      <label for="modelHashFormControlInput" class="form-label"
        >Model hash:</label
      >
      <input
        id="model-hash-input"
        class="form-control form-control-sm"
        type="text"
        aria-label="model hash input"
      />
    </div>
  </div>
</template>

<!-- END Dropzone -->

<script src="{{ url_for('static', filename='features/message/index.js') }}"></script>
<script src="{{ url_for('static', filename='features/dropzone_upload/index.js') }}"></script>
<script src="{{ url_for('static', filename='features/prompt_collection/edit.js') }}"></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='features/dropzone_upload/index.css') }}"
/>

<!-- START: prompt upload -->
<script type="text/javascript">
  document
    .getElementById("submit-edit-button")
    .addEventListener("click", function () {
      submitEditPrompt("{{slug}}");
    });
</script>
<!-- END: prompt upload -->

<!-- START: prompt builder info script -->
<script type="text/javascript">
  getPromptCollectionInfo("{{profile_name}}", "{{slug}}");
  initializeDropzone();
</script>
<!-- END: prompt builder info script -->

{% endblock %}
