{% extends "ai_hub/_base.html" %} {% block content %}

<div id="prompt-container" class="row"></div>

<div class="d-flex justify-content-center m-5" id="intersection">
  <div class="spinner-border" role="status"></div>
</div>

<template id="prompt-template">
  <div class="col-3 mb-3">
    <h4 id="topic" class="position-absolute"></h4>
    <small id="updated_date" class="position-absolute"></small>
    <span id="likes" class="position-absolute"></span>
    <a
      id="link"
      href="#"
      class="text-decoration-none text-dark position-static"
    >
      <img id="image" src="" class="w-100 rounded" />
    </a>
  </div>
</template>

<script type="text/javascript">
  let pageIndex = 0;

  function removeSpinner() {
    $(".spinner-border").toggleClass("invisible");
  }

  function formatTimeDifference(date_str, element) {
    var date = new Date(date_str);
    var timeDiff = Math.abs(Date.now() - date.getTime());
    var diffMinutes = Math.ceil(timeDiff / (1000 * 60));
    var diffHours = Math.ceil(timeDiff / (1000 * 60 * 60));
    var diffDays = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));
    var diffMonths = Math.ceil(timeDiff / (1000 * 60 * 60 * 24 * 30));

    if (diffMinutes < 60) {
      element.innerHTML = diffMinutes + " minutes ago";
    } else if (diffHours < 24) {
      element.innerHTML = diffHours + " hours ago";
    } else if (diffDays < 30) {
      element.innerHTML = diffDays + " days ago";
    } else {
      element.innerHTML = diffMonths + " months ago";
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    let prompt_container = document.querySelector("#prompt-container");

    async function fetchGetPrompts() {
      const res = await fetch(`/en/ai_hub/get-prompts/${pageIndex}`, {
        method: "GET",
        headers: { Accept: "application/json" },
      });
      const data = await res.json();
      const prompts = data["prompts"];

      for (let i = 0; i < prompts.length; i++) {
        var prompt_template = document.querySelector("#prompt-template");

        let prompt_template_clone = prompt_template.content.cloneNode(true);

        prompt_template_clone.querySelector(
          "#link"
        ).href = `/th/ai_hub/prompt-collection/${prompts[i]["slug"]}`;

        prompt_template_clone.querySelector(
          "#topic"
        ).innerHTML = `${prompts[i]["topic"]}`;

        prompt_template_clone.querySelector(
          "#image"
        ).src = `${prompts[i]["prompts"][0]["image_url"]}`;

        prompt_template_clone.querySelector(
          "#likes"
        ).innerHTML = `${prompts[i]["likes"]}`;

        prompt_template_clone.querySelector(
          "#updated_date"
        ).innerHTML = `${prompts[i]["updated_date"]}`;

        formatTimeDifference(
          `${prompts[i]["updated_date"]}`,
          prompt_template_clone.querySelector("#updated_date")
        );

        prompt_container.appendChild(prompt_template_clone.children[0]);
      }

      pageIndex += 1;
    }

    var intersectionObserver = new IntersectionObserver((entries) => {
      if (entries[0].intersectionRatio <= 0) {
        return;
      }

      fetchGetPrompts();
    });

    intersectionObserver.observe(intersection);

    fetchGetPrompts();
    removeSpinner();
  });
</script>
{% endblock %}
