<div class="bg-dark text-white">
  <footer class="row p-5 border-top">

    <div class="col-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
      </ul>
    </div>

    <div class="col-6 text-center">

          <img src="{{ url_for('static', filename='assets/cropped-logo-black.png') }}" class="w-50 pb-2 pt-4"/>
      <p>Copyright © 2023</p>
    </div>


    <div class="col-3">
	    <div class="row border border-2">
	    <div class="col-7 pt-4 pb-4 pe-2">

		    <h3 class="fw-bold">CONTACT ME</h3>

    </div>

	    <div class="col-5" style="  border-left: 3px dashed #FFFFFF;
">
	    
          <img src="{{ url_for('static', filename='assets/contact-me-qrcode.png') }}" class="w-100 pt-3 pb-3"/>


    </div>

    </div>
    </div>

    </div>

  </footer>
</div>
